<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.cgspine.rxjavademo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HandlerActivity"
            android:label="@string/title_activity_handler"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AsyncTaskActivity"
            android:label="@string/title_activity_async_task"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.RxjavaDownloadActivity"
            android:label="@string/title_activity_rxjava_download"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.RxJavaActivity"
            android:label="@string/title_activity_rxjava"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
